    <%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>
        <h1 class="company_name">Gourmet</h1>
            <% if (errorMessage) { %>
                <div class="error_message"><%= error %></div>
                 <% } %> 
                <form class="login_form" action="/login" method="POST">
                    <div class="form">
                        <label for="username">Username</label>
                        <input type="username" name="username" id="username">
                    </div>
                    <div class="form">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                        <input type="hidden" name="_csrf" id="<%= csrf %>>">
                    <button class="button" type="submit">Sign Up</button>
                    <button class="button" type="submit">Login</button>
                </form>
    </main>
    
<%- include('../includes/end.ejs') %>