<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/forms.css">
<link rel="stylesheet" href="/stylesheets/auth.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= error %></div>
                <% } %>
                <form class="login-form" action="/auth/login" method="POST">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrf %>" />
                    <button class="btn" type="submit">Login</button>
                </form>
                <div class="centered">
                    <a class="link" href="/auth/reset">Reset Password</a>
                </div>

    <%- include('../includes/end.ejs') %>