    <%- include('../includes/head.ejs') %>  
</head>

<body>
    <%- include('../includes/nav.ejs') %>
</header>

<!-- Names of div and other classes are open for definition-->

    <main>
        <h1 class="company_name">Gourmet</h1>
        <div class="user_response">
        <!-- Possible slideshow view for food items -->
            <% if (foods.length > 0) { %>
                <div class="container">
                    <% for (let food of foods) { %>
                        <article class="container">
                            <header class="container">
                                <h1 class="food_option_names"><%= food.title %></p>
                            </header>
                            <!-- LEFT ARROW THUMBS UP -->
                            <div class="like">
                                <img src="<%= food.imageUrl %>",alt="<%= food.title %>">
                            </div>
                            <!-- RIGHT ARROW THUMBS DOWN-->
                            <div class="dislike">
                                <h2 class="food_description"><%= food.description %></h2>
                            </div>  
                        </article> 
                     <div class="buttons">
                        <button type="submit" class="button">Add to List</button>
                        <button type="submit" class="button">Add to Favorites</button>
                        <button><a href="/go-to-list">Go to List</a></button>
                     </div>
                </div>  
            <% } %>      
  
            <% } else { %>
                <h1>No Foods Found</h1>
            <% } %>
        </div>


    </main>
    

<%- include('../includes/end.ejs') %>