<div class="backdrop"></div>
<header class="main-header">
    <div class="main-header__nav">

        <!-- Logo/ Homepage link -->
        <div class="main-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/"><img src="/images/logo-transparent.png"
                    alt="Gourmeat Logo" height="50" width="50" /></a>
        </div>

        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/recipe/about' ? 'active' : '' %>" href="/recipe/about">About Us</a>
            </li>

            <li class="main-header__item">
                <a class="<%= path === '/recipe/categories' ? 'active' : '' %>" href="/recipe/categories">Food
                    Categories</a>
            </li>
        </ul>

        <!-- Authenticated Only Pages -->
        <ul class="main-header__item-list" style="float: left;">

            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/recipe/addrecipe' ? 'active' : '' %>" href="/recipe/addrecipe">Add Recipe</a>

            <li class="main-header__item">
                <a class="<%= path === '/favorites' ? 'active' : '' %>" href="/recipe/favorites">Favorites</a>
            </li>

            <li class="main-header__item">
                <a class="<%= path === '/list' ? 'active' : '' %>" href="/recipe/list">Grocery List</a>
            </li>

            <li class="main-header__item">
                <a class="<%= path === '/auth/dashboard' ? 'active' : '' %>" href="/auth/dashboard">Dashboard</a>
            </li>
            <% } %>
        </ul>

        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/login">Log In</a>
            </li>

            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/auth/signup">Sign Up</a>
            </li>
            <% } else { %>
            <li class="main-header__item">
                <form action="/auth/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
</header>

<!-- The navbar has an issue where it appears for a split second whenever a page is loaded.  Commented out for now -->

<!-- <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">

            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>

            <li class="mobile-nav__item">
                <a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
            </li>

            <% if(isAuthenticated) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/auth/account' ? 'active' : '' %>" href="/auth/account">Account</a>
                </li>

                <li class="mobile-nav__item">
                    <a class="<%= path === '/recipe/add-recipe' ? 'active' : '' %>" href="/recipe/add-recipe">Add Recipe</a>
                </li>

            <% } else if (!isAuthenticated) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/auth/login' ? 'active' : '' %>" href="/auth/login">Login</a>
                </li>

                <li class="mobile-nav__item">
                    <a class="<%= path === '/auth/signup' ? 'active' : '' %>" href="/auth/signup">Sign Up
                    </a>
                </li>
            <% } %>
        </ul> -->
</nav>