<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <%- include('./includes/nav.ejs') %>
    <!-- Names of div and other classes are open for definition-->

    <main>
        <div class="center">
            <div class="grid">
                <div class="item">
                    <a href="/" style=" text-decoration: none;"><button class="reload">New Recipes</button></a>
                </div>
                <% if (foods.length > 0) { %>
                <% for (let i = 0; i < 5; i++) { %>
                <div class="item">
                    <img src=" <%= foods[i].imagePath %>" ,alt="<%= foods[i].title %>">
                    <h3><%= foods[i].title %> </h3>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </main>

    <%- include('./includes/end.ejs') %>