<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/categories.css">
</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1 class="" style="margin: 20px;">Food Categories</h1>

            <div class="grid" id="cbuttons" hidden>
                <button id="chickenbtn" class="reload chickenbg">Chicken</button>
                <button id="beefbtn" class="reload beefbg">Beef</button>
                <button id="porkbtn" class="reload porkbg">Pork</button>
                <button id="fishbtn" class="reload fishbg">Fish</button>
                <button id="vegetablebtn" class="reload vegbg">Vegetable</button>
                <button id="veganbtn" class="reload veganbg">Vegan</button>
                <button id="dessertbtn" class="reload dessertbg">Dessert</button>
            </div>

            <div id="chicken" hidden>
                <% for (let recipe of chicken){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>

                    </div>
                </article>
                <% } %>
            </div>

            <div id="beef" hidden>
                <% for (let recipe of beef){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>
                    </div>
                </article>
                <% } %>
            </div>

            <div id="pork" hidden>
                <% for (let recipe of pork){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>
                    </div>
                </article>
                <% } %>
            </div>


            <div id="fish" hidden>
                <% for (let recipe of fish){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>
                    </div>
                </article>
                <% } %>
            </div>

            <div id="vegetable" hidden>
                <% for (let recipe of vegetable){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>
                    </div>
                </article>
                <% } %>
            </div>

            <div id="vegan" hidden>
                <% for (let recipe of vegan){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>
                    </div>
                </article>
                <% } %>
            </div>

            <div id="dessert" hidden>
                <% for (let recipe of dessert){ %>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src=" ../<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                    </div>
                    <header class="card__header">
                        <h1 class="recipe__title"><%= recipe.title %></p>
                    </header>
                    <div class="centered">

                        <a href="/recipe/<%= recipe._id%>/info"><button class="btn" type="submit">View Recipe</button></a>
                        <% if (isAuthenticated) { %>
                            <a href="/recipe/<%= foods[0]._id%>/favorite" class="btn btn-success">Add to Favorites</a>
                        <% } %>
                    </div>
                </article>
                <% } %>
            </div>
    <script src="/js/categories.js"></script>
    <%- include('./includes/end.ejs') %>