<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/nav.ejs') %>
</header>
        <h1 class="">Welcome <%= user.name %></h1>
        <div class="">
            <% if (recipes.length) { %>
                <div class="">
                    <h2></h2>
                    <% for (let recipe of recipes) { %>
                        <h2 class="">Recipes</h2>
                            <h4 class=""><a href="/recipes/<%=recipe._id%>"><%= recipe.title %></a>
                                <a class="btn btn-primary" href="/recipes/<%=recipe._id%>/edit">Edit</a>
                                <a class="btn btn-danger" href="/recipes/<%=recipe._id%>/delete">Delete</a>
                            </h4>
                    <% } %> 
                </div>  
            </div>
            <% } else { %>
                <h1>No Recipes Found</h1>
            <% } %>
            <h2 class=""><a href="/auth/<%= user._id%>/edit">Edit Account</a></h2>
<%- include('./includes/end.ejs') %>