<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/addrecipe.css">
</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1>Edit Recipe</h1>

            <div class="recipe">
                <form class="login-form" action="/recipe/addrecipe/submit" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrf %>" />
                    <input id="numOfIngredients" type="number" value="1" name="numIngredients" hidden>
                    <label for="servings">Servings</label><br>
                    <input class="form-control" type="number" step=".01" placeholder="Servings" name="servings"
                        id="servings" value="<%= servings %>"><br><br>

                    <label class="form-control" for="preperationMinutes">Preparation Time (Minutes)</label><br>
                    <input class="form-control" type="number" step=".01" placeholder="Preparation Time"
                        name="preperationMinutes" id="preperationMinutes" value="<%= preperationMinutes %>"><br><br>

                    <label class="form-control" for="cookingMinutes">Cooking Time (Minutes)</label><br>
                    <input class="form-control" type="number" step=".01" placeholder="Cooking Time"
                        name="cookingMinutes" id="cookingMinutes" value="<%= cookingMinutes %>"><br><br>

                    <label class="form-control" for="title">Title</label><br>
                    <input class="form-control" type="text" placeholder="Title" name="title" id="title"
                        value="<%= title %>"><br><br>


                    <label class="form-control" for="ingredient1">Ingredients</label><br>
                    <input class="form-control" type="text" placeholder="Ingredient #1" name="ingredient1"
                        id="ingredient1">
                    <input class="form-control amount" name="amount1" type="number" step=".01" placeholder="amount">
                    <select name="unit1" id="unit1">
                        <option value="teaspoon">teaspoon</option>
                        <option value="tablespoon">tablespoon</option>
                        <option value="cup">cup</option>
                        <option value="pint">pint</option>
                        <option value="quart">quart</option>
                        <option value="gallon">gallon</option>
                        <option value="pound">pound</option>
                        <option id="otherId1" value="other">other</option>
                        <option value="" hidden>hidden</option>
                    </select>
                    <input class='form-control' type="text" hidden id="hiddenUnit1"><br>
                    <div id="ingredients">
                    </div>
                    <button type='button' id="ingredientBtn">Add another Ingredient</button><br><br>



                    <label class="form-control">Directions</label><br>
                    <% let i = 0 %>
                    <% for (i = 0; i < instructions.length; i++){ %>
                    <textarea class="form-control" placeholder="<%= 'Direction #' + (i + 1) %>"
                        name="<%= 'direction' + i %>" id="<%= 'direction' + i %>"><%= instructions[i] %></textarea><br>
                    <% } %>
                    <input id="numOfDirections" type="number" value="<%= i %>" name="numDirections" hidden>

                    <div id="directions">
                    </div>
                    <button type="button" id="directionBtn" onclick="addDirection()">Add another
                        Direction</button><br><br>

                    <label class="form-control" for="image">Upload picture of final product</label><br>
                    <input class="form-control" type="file" name="image" id="image"><br><br>


                    <label class="form-control">Categories</label><br>
                    <% if (!tags.indexOf("chicken")) { %>
                    <input class="form-control" type="checkbox" id="tag0" name="tag0" value="chicken" checked>
                    <label class="form-control" for="tag0">Chicken</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag0" name="tag0" value="chicken">
                    <label class="form-control" for="tag0">Chicken</label><br>
                    <% } %>

                    <% if (!tags.indexOf("beef")) { %>
                    <input class="form-control" type="checkbox" id="tag1" name="tag1" value="beef" checked>
                    <label class="form-control" for="tag1">Beef</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag1" name="tag1" value="beef">
                    <label class="form-control" for="tag1">Beef</label><br>
                    <% } %>

                    <% if (!tags.indexOf("pork")) { %>
                    <input class="form-control" type="checkbox" id="tag2" name="tag2" value="pork" checked>
                    <label class="form-control" for="tag2">Pork</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag2" name="tag2" value="pork">
                    <label class="form-control" for="tag2">Pork</label><br>
                    <% } %>

                    <% if (!tags.indexOf("seafood")) { %>
                    <input class="form-control" type="checkbox" id="tag3" name="tag3" value="seafood" checked>
                    <label class="form-control" for="tag3">Seafood</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag3" name="tag3" value="seafood">
                    <label class="form-control" for="tag3">Seafood</label><br>
                    <% } %>

                    <% if (!tags.indexOf("vegetable")) { %>
                    <input class="form-control" type="checkbox" id="tag4" name="tag4" value="vegetable" checked>
                    <label class="form-control" for="tag4">Vegetable</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag4" name="tag4" value="vegetable">
                    <label class="form-control" for="tag4">Vegetable</label><br>
                    <% } %>

                    <% if (!tags.indexOf("vegan")) { %>
                    <input class="form-control" type="checkbox" id="tag5" name="tag5" value="vegan" checked>
                    <label class="form-control" for="tag5">Vegan</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag5" name="tag5" value="vegan">
                    <label class="form-control" for="tag5">Vegan</label><br>
                    <% } %>

                    <% if (!tags.indexOf("dessert")) { %>
                    <input class="form-control" type="checkbox" id="tag6" name="tag6" value="dessert" checked>
                    <label class="form-control" for="tag6">Dessert</label><br>
                    <% } else{ %>
                    <input class="form-control" type="checkbox" id="tag6" name="tag6" value="dessert">
                    <label class="form-control" for="tag6">Dessert</label><br>
                    <% } %>
                    <input class="form-control" type="submit">
                </form>
            </div>

            <script src="/js/editrecipe.js"></script>
            <%- include('./includes/end.ejs') %>