<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/nav.ejs') %>


  <h1 class=""><%= user.name %>'s Added Recipes</h1>

  <main class="content">
    <div class="content-wrap">

      <div class="grid">
        <% if (recipes.length > 0) { %>
          <% for (recipe of recipes) { %>
            <% if (recipe) {%>
              <div class="card" style="width: 18rem; margin-bottom: 1rem;">
                <img class="card-img-top" style="width: 100%;" src="/<%= recipe.imagePath %>" alt="<%= recipe.title %>">
                <div class="card-body">
                  <div class="centered">
                    <p class="card-text"><%= recipe.title %></p>
                    <a class="btn" href="/recipe/<%= recipe._id %>/info">View Recipe</a>
                    <a class="btn" href="/recipe/<%= recipe._id %>/remove-favorite">Remove</a>
                  </div>
                </div>
              </div>
            <% } %>
          <% } %>
        <% } else {%>
          <h3><%= user.name %> hasn't added any recipes of their own yet.</h3>
        <% } %> 
      </div>

      <%- include('./includes/end.ejs') %>