<%- include('./includes/head.ejs') %>

</head>

<body>
    <%- include('./includes/nav.ejs') %>

        <h1 class="">Gourmeat</h1>
        
        <div class="grid">
            <% if (foods.length > 0) { %>
                <div class="">
                    <article class="card">
                        <div class="card__image">
                            <img src=" <%= foods[0].imagePath %>" alt="<%= foods[0].title %>">
                        </div>
                        <header class="card__header">
                            <h1 class="recipe__title"><%= foods[0].title %></p>
                        </header>
                        <div class="centered">
                            <form action='/recipes/<%= foods[0]._id %>' method="GET">
                                <button class="btn" type="submit">View Recipe</button>
                            </form>
                        </div>
                    </article>
            </div>
            <% } %>
        </div>

    <%- include('./includes/end.ejs') %>