<%- include('./includes/head.ejs') %>
<script src="/js/ingredients.js" defer></script>
</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1 class="centered" style="margin: 20px;">Grocery List</h1>

            <div>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <!-- <img src="../%= recipe.imagePath %" alt="no image found"> -->
                    </div> 
                    <div class="ingredients-list">
                       
                        <% if (ingredients.length > 0) { %>
                        
                        <ul class="list">
                        <% for (ingredient of ingredients) { %>
                        
                        <li> 
                            <input type="checkbox" name="<%= ingredient %>" id="<%= ingredient %>">
                            <%= ingredient %>
                        </li>
                            <% } %>
                        </ul>
                        <input type="hidden" name="_csrf" value="<%= csrf %>" />
                        <a id="remove-btn" class="btn">Remove ingredient(s)</a>
                        <% } else { %>
                            <h2>You don't have any items on your grocery list.</h2>
                        <% } %>
                    </div>
                </article>
            </div>


            <%- include('./includes/end.ejs') %>