<%- include('./includes/head.ejs') %>

</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1 class="centered" style="margin: 20px;"><%= recipe.title %></h1>


            <div>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src="../<%= recipe.imagePath %>" alt="no image found">
                    </div>
                    <div>

                        <h4>Grocery Shopping List</h4>
                        <% for (ingredient of recipe.ingredients) { %>
                        <ul>
                        <li> 
                            <%= ingredient.amount %>
                            <% if (ingredient.amount > 1) { %>
                            <%= ingredient.unit %>s of
                            <%= ingredient.name %>
                            <% } else { %>
                            <%= ingredient.unit %> of
                            <%= ingredient.name %></li>
                        <% } %>
                        </ul>
                    <% } %>
                    </div>
                </article>
            </div>


            <%- include('./includes/end.ejs') %>