<%- include('./includes/head.ejs') %>

</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1 class="centered" style="margin: 20px;"><%= recipe.title %></h1>


            <div>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <img src="../<%= recipe.imagePath %>" alt="no image found">
                    </div>
                    <!-- <header class="card__header">
                        <h4 class="recipe__title">Details</h4>
                    </header> -->
                    <div>
                        <div class='flex'>
                        <h5>Servings: <p><%= recipe.servings %></p>Total</h5>
                        <h5>Prep Time:<p><%= recipe.preperationMinutes %></p>Minutes</h5>
                        <h5>Cook Time:<p><%= recipe.cookingMinutes %></p>Minutes</h5>

                    </div> 
                    <div class="list">
                        <h4>Ingredients: </h4>
                        <% for (ingredient of recipe.ingredients) { %>
                   
                        <ul>
                        <li> 
                            <%= ingredient.amount %>
                            <% if (ingredient.amount > 1 || ingredient.amount < 1) { %>
                            <%= ingredient.unit %>s of 
                            <%= ingredient.name %>
                          
                            <% } else { %>
                            <%= ingredient.unit %> of 
                            <%= ingredient.name %> 
                        </li>
                        <% } %>
                        </ul>
                    <% } %>
                     <button id="add-to-list">Add to List</button>
                    <h4>Instructions: </h4>
                    <ol>
                        <% for (instruction of recipe.instructions) { %>
                            <li>
                                <span>
                        <%= instruction %>
                                </span>
                            </li>
                    <% } %>
                </ol>
                    <h4>Contributor: </h4><p><%= user.name %></p>
                    </div>
                    </div>
                </article>
            </div>


            <%- include('./includes/end.ejs') %>