<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/nav.ejs') %>

  <% if (users.length > 0) {%>
  <h1 class="">All Users</h1>
  <ul>
    <% for (let user of users) {%>
    <li>
      <p><%= user.name %></p> <a href="/auth/user/<%= user._id %> /add-to-friends">Add to Friends</a>
    </li>
    <% } %>
  </ul>
  <% } else {%>
  <p>There is no new users</p>
  <% } %>

  <%- include('./includes/end.ejs') %>